.divInputNum {
    & input[type="number"]::-webkit-outer-spin-button,
    & input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Remover setas em navegadores Firefox */
    & input[type="number"] {
    -moz-appearance: textfield;
    }
}